node_modules
.git
.vscode
.idea
*.env
*.log
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
coverage

# Ignore bun specific files if not primarily using bun for docker builds
.bun
bun.lockb 